extends ./layout.pug

block title
  title #{tabTitle} &ndash; sledsworth

block richPreviews
  meta(property='og:title', content=metadata.title)
  meta(property='og:url', content=`https://sledsworth.com/${metadata.link}`)
  meta(property='og:image', content=`http://sledsworth.com/images/${metadata.image}`)
  meta(property='og:image:secure_url', content=`https://sledsworth.com/images/${metadata.image}`)
  meta(property='og:image:type', content='image/png')
  meta(property='og:image:width', content='1200')
  meta(property='og:image:height', content='1200')

block content
  .content-container
    .article-heading!= header
    .post-body!= body

